.orderDiv{
    padding: 20px;
    /* border-radius: 15px; */
    width: 70%;
    height: 60vh;
    background-color: rgb(253, 253, 253);
    /* border: 2px solid rgb(0, 0, 0); */
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 15%;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.driverInfo{
    background-color:  rgb(246, 247, 226);
    position: absolute;
    top: 10%;
    left: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    /* padding: 10px; */
    width: 20%;
    /* border: 1px black solid; */
    /* border-radius: 25px; */
    
}

.driverInfo p{
    color: blue;
    font-weight: bolder;
    font-size: large;
}

.orderNumber{
    position: fixed;
    top: 40%;
    left: 44%;
}
