.infoRight{
    width: 50% ;
    float: left;
    height: 40%;
}

.infoLeft{
    padding-right: 10%;
    width: 50%;
    float: right;
    height: 40%;
}

.productImg{
    margin: auto;
    border: 7px solid yellow;
}


.ul.item{
    width: 70%;
    margin: 0 auto;
}

.priceDiv{
    float: right;
}
.priceAdd{
    text-align: center;
}


/* src/index.css */